<%-include('../layouts/adminlayout/header.ejs')%>
<style>
  .btn-info {
    background-color:#464d74;
    border-color:rgb(106, 122, 214);
    color: #ffffff;
    
  }

  .oval {
        border-radius: 100%;
        border: 1rem solid #fff;
    }
    .card-body {
    padding: 20px;
  }
  .btn-info:hover {
    color: #212529;
    background-color:rgb(89, 103, 176);
    border-color: rgb(57, 66, 115);
    color: #ffffff;
}
  .card {
    margin-bottom: 20px;
  }
</style>

    <!--**********************************
            Sidebar end
        ***********************************-->

    <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>ORDERS</h4>
                            
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <!-- <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Table</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Bootstrap</a></li>
                        </ol> -->
                    </div>
                </div>
           

            
    <div class="row">
        <% odd.forEach(order => { %>
          <% order.products.forEach((product)=> { %> 
          
          <div class="col-lg-4">
            <div class="card">
              <div class="card-header">
               
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <img class="oval" style="height: 100px; width: 100px;"  src="/Admins/productImages/<%= product.productId.image[0] %>" alt="<%= product.productId.productname %>">
                  <li class="list-group-item"><strong>Product:</strong> <%= order.products[0].productId.productname %></li>
                  <li class="list-group-item"><strong>Delivery Address:</strong> <%= order.Address.name %>, <%= order.Address.building %>, <%= order.Address.area %>, <%= order.Address.city %>, <%= order.Address.state %>, <%= order.Address.pincode %></li>
                  <li class="list-group-item"><strong>Payment Type:</strong> <%= order.paymentMethod %></li>
                  <li class="list-group-item"><strong>Date:</strong> <%= order.createdAt.toDateString() %></li>
                  <li class="list-group-item"><strong>Total:</strong> &#8377;<%= order.totalAmount %></li>
                  <li class="list-group-item">
                    <strong>Status:</strong>
                    <form action="/admin/order/<%= order._id %>/change-status" method="POST">
                      <select name="newStatus">
                        <option value="<%= order.status %>"><%= order.status %></option>
                        <option value="Order Pending" <% if (order.status === "Order Pending") { %> selected <% } %>>Order Pending</option>
                        <option value="Delivered" <% if (order.status === "Delivered") { %> selected <% } %>>Delivered</option>
                        <option value="Cancelled" <% if (order.status === "Cancelled") { %> selected <% } %>>Cancelled</option>
                        <option value="shipped" <% if (order.status === "shipped") { %> selected <% } %>>Shipped</option>
                        <option value="return" <% if (order.status === "return") { %> selected <% } %>>Return</option>
                        <!-- Add more status options as needed -->
                      </select>
                      <button type="submit" class="btn btn-info">Update Status</button>
                    </form>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <% }) %> 
        <% }) %>
      </div>
  
    <!--**********************************
            Content body end
        ***********************************-->



        <% if (odd.length) { %>
            <div class="container">
              <div class="d-flex justify-content-end">
                <nav aria-label="Page navigation">
                  <ul class="pagination">
                    <% if (currentPage > 1) { %>
                    <li class="page-item">
                        <a class="page-link" href="/order/<%= currentPage - 1 %>" aria-label="Previous">

                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <% } %>
                    <% for (let i=1; i <= totalPages; i++) { %>
                    <% if (i === currentPage) { %>
                    <li class="page-item">
                      <a class="page-link bg-primary text-light" href="/admin/order/<%= i %>"><%= i %></a>
                    </li>
                    <% } else { %>
                    <li class="page-item">
                      <a class="page-link" href="/admin/order/<%= i %>"><%= i %></a>
                    </li>
                    <% } %>
                    <% } %>
                    <% if (currentPage < totalPages) { %>
                    <li class="page-item">
                      <a class="page-link" href="/admin/order/<%= currentPage + 1 %>" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                    <% } %>
                  </ul>
                </nav>
              </div>
            </div>
            <% } %>












    <!--**********************************
            Footer start
        ***********************************-->
    <div class="footer">
        <div class="copyright">
            <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Quixkit</a> 2019</p>
        </div>
    </div>
    <!--**********************************
            Footer end
        ***********************************-->

    <!--**********************************
           Support ticket button start
        ***********************************-->

    <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/Admins/vendor/global/global.min.js"></script>
    <script src="/Admins/js/quixnav-init.js"></script>
    <script src="/Admins/js/custom.min.js"></script>


    </body>

    </html>