<%-include('../layouts/adminlayout/header.ejs')%>

    <link rel="stylesheet" href="path/to/cropper.css">
    <script src="path/to/cropper.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.js"></script>

    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>product</h4>

                    </div>
                </div>

            </div>
            <!-- row -->

            <div class="row">






                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">product</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table header-border table-responsive-sm">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Category</th>
                                            <th>Material</th>
                                            <th>Offer</th>
                                            <th>Stock Quantity</th>
                                            <th>Status</th>
                                            <th>Image</th>
                                            <th>Action</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(product.length>0){
                                            for(let i=0;i<product.length;i++){ %>
                                                <tr>
                                                    <td>
                                                        <a href="javascript:void(0)">
                                                            <%=product[i].productname%>
                                                        </a>


                                                    </td>

                                                    <td>





                                                        <% if (product[i].offer) { %>
                                                            <div><del>
                                                                    <%=product[i].mrp%>
                                                                </del></div>
                                                            <div>
                                                                <%=product[i].price%>
                                                            </div>

                                                            <% } else { %>
                                                                <%=product[i].price%>
                                                                    <% } %>
                                                    </td>
                                                    <td><span class="text-muted">
                                                            <%=product[i].category%>
                                                        </span>
                                                    </td>
                                                    <td><span class="text-muted">
                                                            <%=product[i].material%>
                                                        </span>
                                                    </td>
                                                    <td><span class="text-muted">
                                                            <% if (product[i].offer) { %>
                                                                <%=product[i].offer.discount%>
                                                                    <% } else { %>

                                                                        <p style="margin-top: 16px; color: brown;">No
                                                                            Offer</p>


                                                                        <% }%>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <%=product[i].stockquantity%>
                                                    </td>

                                                    <td>
                                                        <span class="badge badge-success">
                                                            <%=product[i].status%>

                                                        </span>
                                                    </td>

                                                    <td>
                                                        <img id="productImage<%= i %>"
                                                            src="/Admins/productImages/<%= product[i].image[0] %>"
                                                            width="80px" height="80px">
                                                        <button onclick="initiateImageCrop('productImage<%= i %>')">Crop
                                                            Image</button>
                                                    </td>



                                                    <td><span class="badge badge-success"></span>
                                                        <% if(product[i].status){ %>
                                                            <a class="btn btn-danger"
                                                                href="/admin/unlistproduct?id=<%=product[i]._id%>">Unlist</a>
                                                            <% }else{ %>
                                                                <a class="btn btn-danger"
                                                                    href="/admin/listproduct?id=<%=product[i]._id%>">List</a>
                                                                <% } %>
                                                                    <a class="btn btn-success"
                                                                        href="/admin/Editproduct?id=<%=product[i]._id%>">Edit</a>

                                                    </td>
                                                    <td><span>
                                                            <%=product[i].description%>
                                                        </span></td>
                                                </tr>
                                                <% } } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
    <!--**********************************
            Content body end
        ***********************************-->


    <!--**********************************
            Footer start
        ***********************************-->
    <div class="footer">
        <div class="copyright">
            <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Quixkit</a> 2019</p>
        </div>
    </div>
    <script>
        function initiateImageCrop(imageId) {
            console.log("Initiating image crop for:", imageId);

            var image = document.getElementById(imageId);

            // Initialize Cropper
            var cropper = new Cropper(image, {
                aspectRatio: 1,  // Set the aspect ratio as needed
                // Other Cropper options if required
            });


            // Optionally, handle the crop result
            // You can obtain the cropped data using cropper.getCroppedCanvas()
            // For example: var croppedCanvas = cropper.getCroppedCanvas();
            // Then you can use croppedCanvas.toDataURL() to get the cropped image data URL

            // When you are done, you may want to destroy the Cropper instance
            // cropper.destroy();
        }
    </script>
    <script src="./vendor/global/global.min.js"></script>
    <script src="./js/quixnav-init.js"></script>
    <script src="./js/custom.min.js"></script>

    <script src="./vendor/global/global.min.js"></script>
    <script src="./js/quixnav-init.js"></script>
    <script src="./js/custom.min.js"></script>





    </body>

    </html>