<%-include("../layouts/userlayout/header.ejs")%>

<% function addDays(date, days) {
 var result = new Date(date);
 result.setDate(result.getDate() + days);
 return result;
} %>
  

<style> body{
  background-color: rgb(240, 240, 240);
}    


</style>



  <div class="hero-wrap hero-bread" style="background-image: url('/Users/images/bg_6.jpg');">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>wishlist</span></p>
          <h1 class="mb-0 bread">My order</h1>
        </div>
      </div>
    </div>
  </div>
 
  
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-white">
          
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span  style="color: rgb(0, 0, 0);"      class="ion-ios-home fs-5 d-none d-sm-inline "></span>
                </a>
                
                <ul   class=" flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  
                    <li>
                        <a  style="color: black;"href="/placeorder/1?status=Delivered" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Delivered</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a   style="color: black;"href="/placeorder/1?status=Pending" class="nav-link px-0"> <span class="d-none d-sm-inline">Return order</span>  </a>
                            </li>
                            <li>
                                <a  style="color: black;" href="/placeorder/1?status=cancelled" class="nav-link px-0"> <span class="d-none d-sm-inline">Cancelled order</span> </a>
                            </li>
                        </ul>
                    </li>
                   
                   
                </ul>
                <hr>
                
            </div>
        </div>
      
        <div class="col py-3">
          <section class="ftco-section ftco-wishlist">

            <div class="container">
              <div class="row">
                <div class="col-md-12 ftco-animate">
                  <div class="wishlist-list">
                    <table class="table">
                      <thead class="thead-primary">
                       
                      </thead>
                      <tbody>
        
                        <div class="row">
                          <div class="col-md-7 py- wrap-about pb- ftco-animate">
                            <div class="heading-section-bold ">
                              <div class="ml-md-0">
                                
                                <h2 class="">Orders</h2>
                                   <p class="ion-ios-basket" style="color: black;"><%= count %></p>
                              </div>
                                      <div class="site-section">
                                        <div class="container ">
                                          <% if (status) { %>
                                            <% orders.forEach((order) => { %>
                                              <% order.products.forEach((product)=> { %> 
                                               
                                                <div class="d-flex flex-column flex-md-row border p-3 mb-3"  style="background-color: black;">
                                                  <div class="col-md-3 col-12 d-flex justify-content-center mb-5">
                                                    <% if (product.productId.image && product.productId.image.length > 0) { %>
                                                      <img style="height: 100px; width: 100px;" src="/Admins/productImages/<%= product.productId.image[0] %>" alt="<%= product.productId.productname %>">
                                                    <% } else { %>
                                                      <p>No image available</p>
                                                    <% } %>
                                                    
                                                  <br>  
                                                  </div>
                                                  <div class="col-md-6" style="color: white;">
                                                    <span class="d-block text-primary h6 text-uppercase">
                                                      <%= product.productId.productname %>,<br>
                                                     
                                                    </span>
                                                    <p>
                                                      Price: ₹<%=order.totalAmount  %>,<br>
                                                     
                                                      Quantity: <%=product.quantity%>,<br>
                                                     
                                                     
                                                      Payment Method: <%= order.paymentMethod %><br>
                                                      Delivery Address:<%= order.Address.state %>,
                                                      <%= order.Address.building %>,
                                                      <%= order.Address.city %>,
                                                      <%= order.Address.area %>,
                                                      <%= order.Address.pincode %>
                                                    </p>
                                                    <div class="d-flex" style="color: white;">
                                                      <div>
                                                        <p class="text-black">
                                                          Order Confirmed,  <%= order.createdAt.toDateString() %>
                                                        </p>
                                                        <p class="text-black">
                                                          Delivery :<%= addDays(order.createdAt, 7).toDateString() %><br>
                                                          <% if (!order.products.isCancelled) { %>
                                                          <strong>Status:
                                                            <% if (product.returnRequested) { %>
                                                              <%= product.returnRequested %>
                                                            <% } else { %>
                                                              <p class="text-primary font-weight-bolder"><%= order.status %></p>
                                        
                                                              
                                                              <% if (order.status === 'Delivered') { %>
                                                                <button class="btn btn-primary return-btn" data-orderid="<%= order._id %>" data-productid="<%= product.productId._id %>">Return</button>
                                                                <% } %>
                                                           <% if (order.status === 'Processing'||order.status === 'shipped') { %>
                                                                <form action="/cancel-order/<%= order._id %> " method="POST">
                                                                  <button type="submit" class="btn btn-danger">Cancel Order</button>
                                                                </form>
                                                              <% } %>
                                                              <div class="text-end">
                                                              <form action="/order/Invoice" method="post">
                                                                <input type="hidden" name="id" value="<%= order._id %>">
                                                                <button type="submit" class="btn btn-dark">Invoice</button>
                                                            </form>
                                                          </div>
                                                            <% } %> </strong>
                                                          <% } %>
                                                        </p>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  
                                                </div>
                                        
                                        
                                                <% }) %> 
                                            <% }) %>
                                          <% } else { %>
                                          <% if (!addorder.length) { %>
                                          No orders found.
                                          <% } else { %>
                                          <% addorder.forEach((order)=> { %>
                                            <% order.products.forEach((product)=> { %> 
                                          <div class="d-flex flex-column flex-md-row border p-3 mb-3"  style="background-color: black;">
                                            <div class="col-md-3 col-12 d-flex justify-content-center mb-5">
                                              <img  style="height: 100px; width: 100px;"  src="/Admins/productImages/<%= product.productId.image[0] %>" alt="<%= product.productId.productname %>">
                                            <br>  
                                            </div>
                                            <div class="col-md-6" style="color: white;">
                                              <span class="d-block text-primary h6 text-uppercase">
                                                <%= product.productId.productname %>,<br>
                                              </span>
                                              <p>
                                                Price: ₹<%=order.totalAmount  %>,<br>
                                               
                                                Quantity: <%=product.quantity %>,<br>
                                                Payment Method: <%= order.paymentMethod %><br>
                                                Delivery Address:<%= order.Address.state %>,<br>
                                                <%= order.Address.building %>,<br>
                                                <%= order.Address.city %>,<br>
                                                <%= order.Address.area %>,<br>
                                                <%= order.Address.pincode %>
                                              </p>
                                              <div class="d-flex" style="color: white;">
                                                <div>
                                                  <p class="text-black">
                                                    Order Confirmed,  <%= order.createdAt.toDateString() %>
                                                  </p>
                                                  <p class="text-black">
                                                    Delivery :<%= addDays(order.createdAt, 7).toDateString() %><br>
                                                    <% if (!order.products.isCancelled) { %>
                                                    <strong>Status:
                                                      <% if (product.returnRequested) { %>
                                                        <%= product.returnRequested %>
                                                      <% } else { %>
                                                        <p class="text-primary font-weight-bolder"><%= order.status %></p>
                                  
                                                        
                                                        <% if (order.status === 'Delivered') { %>
                                                          <button class="btn btn-primary return-btn" data-orderid="<%= order._id %>" data-productid="<%= product.productId._id %>">Return</button>
                                                          <% } %>
                                                     <% if (order.status === 'Processing'||order.status === 'shipped') { %>
                                                          <form action="/cancel-order/<%= order._id %> " method="POST">
                                                            <button type="submit" class="btn btn-danger">Cancel Order</button>
                                                          </form>
                                                        <% } %>
    
                                                        <form action="/order/Invoice" method="post">
                                                          <input type="hidden" name="id" value="<%= order._id %>">
                                                          <button type="submit" class="btn btn-dark">Invoice</button>
                                                   
                                                      </form>
                                                     
                                                      </div>
                                                      <% } %> </strong>
                                                    <% } %>
                                                  </p>
                                                </div>
                                              </div>
                                            </div>
                                            
                                          </div>
                                  
                                  
                                          <% }) %> 
                                          <% }) %>
                                          <% } %>
                                          <% } %>
                                          <div class="row">
                                            <div class="col-md-6">
                                              <div class="row">
                                                <div class="col-md-6">
                                                  <p>
                                                    <button type="submit" class="btn btn-dark"><a class="btn-btn"  href="/shop">Continue Shopping</a>                                  </button>
                                               
                                                  </p>
                                                </div>
                                              </div>

                                            </div>
                                          </div>
                                          
                                        </div>
                                      </div>
        
                            </div>
                          </div>
                        </div>
        
                      </tbody>
        
        
        
                    </table>
        
                  </div>
                </div>
                
              </div>
        
            </div>
            <% if (orders.length) { %>
              <div class="container">
                <div class="d-flex justify-content-end">
                  <nav aria-label="Page navigation">
                    <ul class="pagination">
                      <% if (currentPage > 1) { %>
                      <li class="page-item">
                        <a class="page-link" href="/placeorder/<%= currentPage -1 %>" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <% } %>
                      <% for (let i=1; i <= totalPages; i++) { %>
                      <% if (i === currentPage) { %>
                      <li class="page-item">
                        <a class="page-link bg-primary text-light" href="/placeorder/<%= i %>"><%= i %></a>
                      </li>
                      <% } else { %>
                      <li class="page-item">
                        <a class="page-link" href="/placeorder/<%= i %>"><%= i %></a>
                      </li>
                      <% } %>
                      <% } %>
                      <% if (currentPage < totalPages) { %>
                      <li class="page-item">
                        <a class="page-link" href="/placeorder/<%= currentPage + 1 %>" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                      <% } %>
                    </ul>
                  </nav>
                </div>
              </div>
              <% } %>
          </section>
        </div>
    </div>
</div>

 


  <footer class="ftco-footer ftco-section">
    <div class="container">
      <div class="row">
        <div class="mouse">
          <a href="#" class="mouse-icon">
            <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
          </a>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Minishop</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-5">
            <h2 class="ftco-heading-2">Menu</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block">Shop</a></li>
              <li><a href="#" class="py-2 d-block">About</a></li>
              <li><a href="#" class="py-2 d-block">Journal</a></li>
              <li><a href="#" class="py-2 d-block">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Help</h2>
            <div class="d-flex">
              <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                <li><a href="#" class="py-2 d-block">Shipping Information</a></li>
                <li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
                <li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
                <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
              </ul>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">FAQs</a></li>
                <li><a href="#" class="py-2 d-block">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Have a Questions?</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San
                    Francisco, California, USA</span></li>
                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                <li><a href="#"><span class="icon icon-envelope"></span><span
                      class="text">info@yourdomain.com</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with
            <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com"
              target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </footer>



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#F96D00" />
    </svg></div>


   
  <script src="/Users/js/jquery.min.js"></script>
  <script src="/Users/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/Users/js/popper.min.js"></script>
  <script src="/Users/js/bootstrap.min.js"></script>
  <script src="/Users/js/jquery.easing.1.3.js"></script>
  <script src="/Users/js/jquery.waypoints.min.js"></script>
  <script src="/Users/js/jquery.stellar.min.js"></script>
  <script src="/Users/js/owl.carousel.min.js"></script>
  <script src="/Users/js/jquery.magnific-popup.min.js"></script>
  <script src="/Users/js/aos.js"></script>
  <script src="/Users/js/jquery.animateNumber.min.js"></script>
  <script src="/Users/js/bootstrap-datepicker.js"></script>
  <script src="/Users/js/scrollax.min.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/Users/js/google-map.js"></script>
  <script src="/Users/js/main.js"></script>

  <script>
    $(document).ready(function () {

      var quantitiy = 0;
      $('.quantity-right-plus').click(function (e) {

        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        var quantity = parseInt($('#quantity').val());

        // If is not undefined

        $('#quantity').val(quantity + 1);


        // Increment

      });

      $('.quantity-left-minus').click(function (e) {
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        var quantity = parseInt($('#quantity').val());

        // If is not undefined

        // Increment
        if (quantity > 0) {
          $('#quantity').val(quantity - 1);
        }
      });

    });
  </script>
<!-- Add this script at the bottom of your HTML file, after including other scripts -->
<script>
  $(document).ready(function () {
      // Handle return button click
      $('.return-btn').click(function (e) {
          e.preventDefault();
          const orderId = $(this).data('orderid');
          const productId = $(this).data('productid');
          const confirmation = confirm('Are you sure you want to return this product?');
          const $button = $(this);
          if (confirmation) {
              // Make an AJAX request to your server to handle the return logic
              $.post(`/return-product/${orderId}/${productId}`, function (data) {
                  // Handle the response from the server (e.g., update UI)
                  console.log(data);
                  // You may want to reload the page or update the UI accordingly


                    // Update the UI: Change the status to 'Pending'
                    $button.closest('tr').find('.order-status').text('Pending');



                  location.reload();
              });
          }
      });
  });
</script>

  </body>

  </html>